
@{
    ViewData["Title"] = "Przelew";
}

<h1 class="mb-5">Wybierz typ przelewu</h1>

<div class="row d-flex justify-content-between">
    <div class="col-sm-5">
        <div class="card bg-success text-white zoomHover">
            <div class="card-body">
                <h5 class="card-title text-center">Przelew przychodzący</h5>
                <a class="stretched-link" asp-route-inOut="In"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card bg-danger text-white zoomHover">
            <div class="card-body">
                <h5 class="card-title text-center">Przelew wychodzący</h5>
                <a class="stretched-link" asp-route-inOut="Out"></a>
            </div>
        </div>
    </div>
</div>
